@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 600px;
    text-align: center;
}

.change-bg h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: .8px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    margin-bottom: 10px;
}

.change-bg .input-group input {
    display: inline-block;
    font-size: 20px;
    outline: none;
    border: 1px solid #333;
    letter-spacing: .8s;
    padding: 0 25px;
}

.change-bg .input-group .newColor-input {
    background: #fff;
    width: 350px;
    height: 50px;
    border-radius: 25px 0 0 25px;
}

.change-bg .input-group .btn {
    background: #666;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    margin-left: -7px;
    transition: .5s;
}

.change-bg .input-group .btn:hover {
    background: #222;
}